# Data Science Tools and Ecosystem

In this notebook, I summarize Data Science Tools and Ecosystem.

**Objectives:**
* List popular languages for Data Science
* List common libraires for Data Science
* List some development environment open source tools used in data science
* Present a few examples of arithmetic evaluation in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the most common libraries used by Data Scientists are:
1. Pandas 
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. ApacheSpark
7. ggplot

| Data Science Tools |
|------|
| Jupyter Notebook |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nathaniel Badalov